<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <h2>for more Information go to the details hey <a href='http://localhost:3000/about'>http://localhost:3000/about</a></h2>
    </head>
            {{> headers}}
    <body>
        <img src = '20230226_200308.jpg'>
        {{!-- <img src = 'eg_flag.jpg'> --}}
            {{> footer}}
            {{screamIt welcomeMessage}}
            
    </body>
</html>