<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <h2>for more Information go to the details <a href='http://localhost:3000/about'>http://localhost:3000/about</a></h2>
    </head>
            {{> headers}}
    <body>
        {{> footer}}
            {{screamIt welcomeMessage}}
            
    </body>
</html>