<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
        <h2>visit our website <a href='http://localhost:3000/'>http://localhost:3000/</a></h2>
    </head>
    <body>
         {{> headers}}
         {{> footer}}
        <h2><p>Projects text page would go there</p></h2>
         
    </body>
</html>