<!DOCTYPE html>
<html>
    <head>
        {{> header}}
        <meta charset="utf-8">
        <title>Apps progressed</title>
        <h2>Browse our apps <a href='http://localhost:3000/project'> http://localhost:3000/project</a></h2>
    </head>
    <body>

        <h2><p>Projects page would go there</p></h2>
         {{> footer}}
    </body>
</html>